<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% last_issue = @issues.last %>
<div class="row last-issue-cover">
  <div class="last-issue-img">
    <%= image_tag last_issue.cover_image if last_issue.cover_image.present? %>
  </div>
  <div class="index-header">
    <%= render partial: "layouts/header" %>  
  </div>
  <div class="last-issue-caption">
    <%= link_to last_issue do %>
      <div class="last-issue-tagline">
        <h1><%= last_issue.tagline %></h1>
      </div>
      <div class="last-issue-number">
        SEE OUR
        <h1>Issue <%= last_issue.number %></h1>
      </div>      
    <% end %>
  </div>
</div>

<% articles = Article.where(issue_id: last_issue.id) %>

<div class="row last-issue-items">
  <div class="slick article-slider" data-num-of-articles="<%= articles.length %>">
    <% if last_issue.cover_image.present? %>    
      <div class="col-sm-3">
        <%= link_to last_issue do %>
          <div class="last-issue-item" data-background-img="<%= last_issue.cover_image.thumb.url %>"></div>
        <% end %>
      </div>
    <% end %>
    <div class="col-sm-3">
      <%= link_to last_issue do %>
        <div class="last-issue-item">
          <div class="last-issue-item-caption black">
            <h2>Contributors</h2>
            The Editors
          </div>
        </div>
      <% end %>
    </div>

    <% articles.each do |article| %>
      <% category = Category.find(article.category_id) if article.category_id %>
      <% author = Author.find(article.author_id) if article.author_id %>
      <% img = Image.where(article_id: article.id)[0] %>
      <% img_src = img.file.thumb.url if img %>
      <% unless img_src %>
        <% content = Nokogiri::HTML article.content %>
        <% img_srcs = content.css('img').map{ |i| i['src'] } %>
        <% img_src = img_srcs[0] unless img_srcs.empty? %>
      <% end %>
      <div class="col-sm-3">
        <%= link_to article do %>
          <% if img_src %>
            <div class="last-issue-item" data-background-img="<%= img_src %>">
          <% else %>
            <div class="last-issue-item">
          <% end %>
            <% caption_color = TitleColor.find(article.title_color_id) %>            
            <div class="last-issue-item-caption <%= caption_color.name %>">
              <% if category %>
                <h2><%= category.name %></h2>
              <% end %>
              <b><%= article.title %></b><br>
              <%= author.name if article.author_id %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="article-slider-controls">
    <span class="article-slider-fast-back glyphicon glyphicon-fast-backward"></span>
    <span class="article-slider-back glyphicon glyphicon-backward"></span>
      Issue <%= last_issue.number %>
    <span class="article-slider-next glyphicon glyphicon-forward"></span>
    <span class="article-slider-fast-next glyphicon glyphicon-fast-forward"></span>
  </div>
</div>

<%= link_to 'New Issue', new_issue_path %>

<%= render partial: "layouts/scribe" %>

<div class="row">
  <% @issues.reverse_each do |issue| %>
    <% unless issue.id == last_issue.id %>
      <%= link_to issue do %>
        <div class="col-sm-3 issue-list">
          <%= image_tag(issue.cover_image) if issue.cover_image.present? %>
          <br>
          Issue <%= issue.number %>
        </div>
      <% end %>
    <% end %>
  <% end %>  
</div>

<%= render partial: "layouts/footer", locals: { showNewsletters: false} %>