<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :id %>
  </div>

  <div class="field">
    <%= f.label :issue_id %>
    <%= f.collection_select :issue_id, Issue.all, :id, :name, selected: @article.issue_id %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, selected: @article.category_id %>
  </div>

  <div class="field">
    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.all, :id, :name, selected: @article.author_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.hidden_field :content, html: {id: "content"} %>
    <div class="editable" data-field-id="content">
      <% if article.content %>
        <%= @article.content.html_safe %>
      <% else %>
        <%= @article.content %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
