<p id="notice"><%= notice %></p>
<%= render partial: "layouts/header", locals: { hideSearchBox: true } %>

<div class="article-content">
  <%= @article.content.html_safe %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
